body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  color: #333;
  line-height: 1.5em;
  background: #F9F9F9;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

.smartbox {
  width: 100%;
  min-height: 200px;

  background: #669933;
  color: white;

  background: #f8f5ec;
  border: 1px solid #E0DED5;

}

.item {
  padding: 4px;
  margin: 2px;
  border: 1px solid #90BF60;
  border-radius: 9px;
}

.pending {
  background: grey;
}

.matched {
    background: #90BF60;
}

*:focus {
    outline: 0;
}

input[type="text"]
{
    font-size: 1.125em;
    background: transparent;
    border: none;
    color: #2d2d2d;
    float: left;
}

.input-container {
  padding: 6px;
  margin: 2px;
}

.float {
  float: left;
  width: auto;
}

.padded {
padding-right: 4px;

}

